editor {
  display: flex;
  flex-direction: column;
  flex: 1;

  canvas {
    background-color: yellow;
  }

  .image-list {
    img {
      width: 4rem;
      height: 4rem;
      // cursor: zoom-in;

      &.active {
        box-sizing: border-box;
        border: 0.2rem solid green;
      }
    }

    md-list-item {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  md-sidenav {
    width: auto;
  }

  #details_panel {
    transition: 0.2s ease-in all;
    width: 23rem;

    &.ng-hide {
      width: 0;
    }
  }
}

.terrain-file-sidebar {
  overflow: hidden;

  img {
    width: 300px;
    height: 300px;
  }

  .md-input[disabled] {
    border-bottom-color: transparent;
    background-image: none;
    color: black;
  }

  md-input-container {
    margin-bottom: 0;
  }

  .md-errors-spacer {
    display: none;
  }

  h4 {
    margin-bottom: 0;
  }

  .md-button.sidebar-close {
    margin: 0;
    padding: 0;
    min-width: 1.5rem;
  }

  form {
    overflow: auto;

    transition: 0.2s ease-in all;
    width: 22rem;

    &.ng-hide {
      width: 0;
    }
  }
}

.blending-history > * {
  overflow: hidden;
  max-width: 300px;
}