<md-toolbar class="md-menu-toolbar">
  <div layout="row">
    <md-toolbar-filler layout="" layout-align="center center">
    </md-toolbar-filler>

    <div>
      <h2 class="md-toolbar-tools">Editor</h2>
      <md-menu-bar>
        <md-menu>
          <button ng-click="$mdOpenMenu()">
            File
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-model="img_file" ngf-select="vm.openFile($file)" ngf-pattern="'image/*'" ngf-accept="'image/*'">Open Image</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-model="zip_file" ngf-select="vm.openZip($file)" ngf-pattern="'application/*'" ngf-accept="'application/zip'">Open Zip
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-menu>
          <button ng-click="$mdOpenMenu()">
            Edit
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="vm.start_adding_detail()" ng-disabled="!vm.can_add_detail()">Add detail</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-menu-bar>
    </div>
  </div>
</md-toolbar>

<div layout="row" flex>

  <md-content layout-padding layout="column" ng-show="vm.is_adding_detail_state()" id="details_panel">
    <form name="settingsForm">
      <h4>Generation Phase</h4>
      <md-content layout-padding layout="column">
        <md-input-container>
          <label>Surface Size</label>
          <md-select ng-model="surface_size">
            <md-option ng-value="16">16</md-option>
            <md-option ng-value="32">32</md-option>
            <md-option ng-value="64">64</md-option>
            <md-option ng-value="128">128</md-option>
            <md-option ng-value="256">256</md-option>
            <md-option ng-value="512">512</md-option>
            <md-option ng-value="1024">1024</md-option>
            <md-option ng-value="2048">2048</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Random Method</label>
          <md-select ng-model="random_method" ng-change="vm.random_method_changed()">
            <md-option ng-repeat="method in random_methods" ng-value="method.ordinal">
              {{method.description}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-content layout-padding layout="column" ng-show="vm.is_random_method_fourier()">
          <md-input-container class="md-block">
            <label>Filter Power</label>
            <input
                ng-model="fourier_synthesis.power"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="0.01"
                min="0.01"
                max="2.99"
                required/>
          </md-input-container>
        </md-content>

        <md-content layout-padding layout="column" ng-show="vm.is_random_method_perlin_noise()">

          <md-input-container class="md-block">
            <label>Frequency</label>
            <input
                ng-model="perlin_noise.frequency"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="1"
                min="1"
                max="2000"
                required/>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Octaves</label>
            <input
                ng-model="perlin_noise.octaves"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="1"
                min="1"
                max="20"
                required/>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Persistence</label>
            <input
                ng-model="perlin_noise.persistence"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="0.01"
                min="0.01"
                max="10.0"
                required/>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Lacunarity</label>
            <input
                ng-model="perlin_noise.lacunarity"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="0.01"
                min="0.01"
                max="10.0"
                required/>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Base</label>
            <input
                ng-model="perlin_noise.base"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="0.01"
                min="0.0"
                max="20"
                required/>
          </md-input-container>

        </md-content>

        <md-content layout-padding layout="column" ng-show="vm.is_random_method_simplex_noise()">

          <md-input-container class="md-block">
            <label>Frequency</label>
            <input
                ng-model="simplex_noise.frequency"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="1"
                min="1"
                max="2000"
                required/>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Octaves</label>
            <input
                ng-model="simplex_noise.octaves"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="1"
                min="1"
                max="20"
                required/>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Persistence</label>
            <input
                ng-model="simplex_noise.persistence"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="0.01"
                min="0.01"
                max="10.0"
                required/>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Lacunarity</label>
            <input
                ng-model="simplex_noise.lacunarity"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="0.01"
                min="0.01"
                max="10.0"
                required/>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Base</label>
            <input
                ng-model="simplex_noise.base"
                ng-change="vm.random_parameter_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="0.01"
                min="0.0"
                max="20"
                required/>
          </md-input-container>

        </md-content>

      </md-content>
      <md-content>
        <md-button ng-click="vm.generate_surface()" ng-disabled="settingsForm.$invalid || !vm.can_generate()">
          <span>Generate</span>
        </md-button>
      </md-content>
      <md-divider></md-divider>

      <h4>Blend Phase</h4>
      <md-content layout-padding layout="column">
        <md-input-container  class="md-input-has-value">
          <label>Mapping</label>
          <spline-editor
              ng-change="vm.spline_changed()"
              ng-model="blend.mapping_data"
              ng-model-options="{ debounce: 100 }"
          >
          </spline-editor>
        </md-input-container>
        <md-input-container>
          <label>Blend Strength</label>
          <input
              ng-model="blend.strength"
              ng-change="vm.blend_strength_changed()"
              ng-model-options="{ debounce: 100 }"
              type="number"
              step="1"
              min="1"
              max="500"/>
        </md-input-container>
        <div layout="row">
          <md-input-container flex>
            <label>Result min height</label>
            <input
                ng-model="blend.minimum"
                ng-change="vm.result_bounds_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="1"
                min="0"
                max="{{blend.maximum - 1}}"
            />
          </md-input-container>
          <md-input-container flex>
            <label>Result max height</label>
            <input
                ng-model="blend.maximum"
                ng-change="vm.result_bounds_changed()"
                ng-model-options="{ debounce: 100 }"
                type="number"
                step="1"
                min="{{blend.minimum + 1}}"
                max="255"
            />
          </md-input-container>
        </div>
      </md-content>

      <md-content>
        <md-button ng-click="vm.finish_adding_detail()" ng-disabled="!vm.can_finish_adding_detail()">
          <span>Finish</span>
        </md-button>
        <md-button ng-click="vm.cancel_adding_detail()" ng-disabled="!vm.can_finish_adding_detail()">
          <span>Cancel</span>
        </md-button>
      </md-content>
    </form>
  </md-content>

  <terrain-viewer layout="column" flex terrain="vm.terrain"></terrain-viewer>

  <md-sidenav class="md-sidenav-right terrain-file-sidebar" md-is-locked-open="vm.history.length > 0" layout="row">
    <md-button ng-click="vm.toggle_history_details()" class="sidebar-close" ng-disabled="vm.selected_history_entry == null">
      <md-icon>{{vm.terrain_file_sidebar_open ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</md-icon>
    </md-button>
    <form ng-show="vm.selected_history_entry != null && vm.terrain_file_sidebar_open">
      <md-menu>
        <md-icon ng-click="$mdOpenMenu()">more_vert</md-icon>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="vm.save($event, vm.selected_history_entry)">Save</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.save_image($event, vm.selected_history_entry.result_image)">Save Result</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.export_image_ue4($event, vm.selected_history_entry.result_image)">Export UE4</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-content layout-padding layout="column">
        <div layout="column">
          <div layout="column">
            <label>Original</label>
            <img src="{{vm.selected_history_entry.original_image}}"/>
          </div>

          <div layout="column">
            <label>Result</label>
            <img src="{{vm.selected_history_entry.result_image}}"/>
          </div>
        </div>
        <md-content>
          <md-input-container>
            <label>Random Method</label>
            <input type="text" ng-model="vm.selected_history_entry.data.random_method.description" disabled/>
          </md-input-container>
          <md-content ng-if="!vm.selected_history_entry.is_method_none()">
            <h4>Parameters:</h4>
            <md-content layout-padding ng-if="vm.selected_history_entry.is_method_fourier()">
              <md-input-container>
                <label>Power </label>
                <input type="text" ng-model="vm.selected_history_entry.data.random_parameters.power" disabled/>
              </md-input-container>
            </md-content>
            <md-content layout-padding ng-if="vm.selected_history_entry.is_method_perlin_noise() || vm.selected_history_entry.is_method_simplex_noise()">
              <md-input-container>
                <label>Frequency </label>
                <input type="text" ng-model="vm.selected_history_entry.data.random_parameters.frequency" disabled/>
              </md-input-container>
              <md-input-container>
                <label>Octaves </label>
                <input type="text" ng-model="vm.selected_history_entry.data.random_parameters.octaves" disabled/>
              </md-input-container>
              <md-input-container>
                <label>Persistence </label>
                <input type="text" ng-model="vm.selected_history_entry.data.random_parameters.persistence" disabled/>
              </md-input-container>
              <md-input-container>
                <label>Lacunarity </label>
                <input type="text" ng-model="vm.selected_history_entry.data.random_parameters.lacunarity" disabled/>
              </md-input-container>
              <md-input-container>
                <label>Base </label>
                <input type="text" ng-model="vm.selected_history_entry.data.random_parameters.base" disabled/>
              </md-input-container>
            </md-content>
          </md-content>

          <md-content class="blending-history">
            <h4>Blending</h4>
            <md-content layout-padding>
              <md-input-container class="md-input-has-value">
                <label>Mapping</label>
                <spline-editor ng-model="vm.selected_history_entry.data.blend_parameters.mapping_data" disabled></spline-editor>
              </md-input-container>
              <md-input-container>
                <label>Blend Strength</label>
                <input type="text" ng-model="vm.selected_history_entry.data.blend_parameters.strength" disabled/>
              </md-input-container>
              <md-input-container>
                <label>Result Minimum</label>
                <input type="text" ng-model="vm.selected_history_entry.data.blend_parameters.minimum" disabled/>
              </md-input-container>
              <md-input-container>
                <label>Result Maximum</label>
                <input type="text" ng-model="vm.selected_history_entry.data.blend_parameters.maximum" disabled/>
              </md-input-container>
            </md-content>

          </md-content>
        </md-content>

    </form>

  </md-sidenav>
  <md-sidenav layout-padding class="md-sidenav-right" md-is-locked-open="vm.history.length > 0">
    <md-list class="image-list md-3-line">
      <md-list-item ng-repeat="terrain_file in vm.history track by $index">
        <img src="{{terrain_file.snapshot_image}}" ng-class="{active: $index==vm.selected_history_entry_index}" ng-click="vm.select_history_entry($index)"/>
      </md-list-item>
    </md-list>
  </md-sidenav>
</div>