// angular-material
@import 'jspm:angular-material/angular-material';
@import 'jspm:material-design-icons-iconfont/dist/material-design-icons'; 
// Leaflet
@import 'jspm:leaflet/dist/leaflet';  
 
/* inject:imports */
/* endinject */  

// body {
//   background-color: #fff;
// }

hmtl, body { 
  height: 100%;
  margin: 0;
  padding: 0;
}

.no-overflow {
  overflow: hidden;
}

app {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  
  md-toolbar {
    h3 {
      margin: auto 1em auto;
    }
  }
}